<div class="table-button">
    <button class="table active" data-target="#invTable">Inverter</button>
    <button class="table" data-target="#replaceTable">Replacement History</button>
</div>

<!-- ================= INVERTER TABLE ================= -->
<div id="invTable" class="table-box sub-table">
    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>SN</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Creation Date</th>
                <th>Data Logger</th>
                <th>Operation</th>
            </tr>
        </thead>

        <!-- IMPORTANT!  Add ID -->
        <tbody id="invTableBody">
            <tr class="no-data">
                <td colspan="8">No data</td>
            </tr>
        </tbody>
    </table>
    
    <button class="btn-next">Next</button>
</div>


<!-- ================= REPLACEMENT HISTORY TABLE ================= -->
<div id="replaceTable" class="table-box sub-table" style="display:none;">
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Original Device</th>
                <th>Original SN</th>
                <th>New Device</th>
                <th>New SN</th>
                <th>Replacement Date</th>
                <th>Operation</th>
            </tr>
        </thead>

        <!-- IMPORTANT!  Add ID -->
        <tbody id="replaceTableBody">
            <tr class="no-data">
                <td colspan="7">No data</td>
            </tr>
        </tbody>
    </table>

    <button class="btn-next">Next</button>
</div>
<!-- ================= MODIFY INVERTER MODAL ================= -->
<div id="modifyModal" class="modal-overlay" style="display:none;">
    <div class="modal-box">

        <div class="modal-header">
            <p>Modify the Inverter</p>
        </div>

        <div class="modal-body">

            <div class="form-row">
                <label>* Name</label>
                <input id="modifyName" type="text" class="input-field">
            </div>

            <div class="form-row">
                <label>* SN</label>
                <input id="modifySN" type="text" class="input-field" placeholder="Please enter the SN">
            </div>

        </div>

        <div class="modal-footer">
            <button id="modifyCancel" class="cancel-btn">Cancel</button>
            <button id="modifySubmit" class="next-btn">Submit</button>
        </div>

    </div>
</div>

<!-- ================= REPLACE INVERTER MODAL ================= -->
<div id="replaceModal" class="modal-overlay" style="display:none;">
    <div class="modal-box">

        <div class="modal-header">
            <p>Tips</p>
        </div>

        <div class="modal-body">

            <p>1. The replaced inverter cannot be added again.</p>
            <p>2. Replace the inverter with the same type, otherwise the replacement will fail.</p>
            <p>3. After replacing the inverter, the accumulated power generation of this plant still includes the power generated by the original inverter.</p>
            <p>4. Please set the corresponding parameters for the new inverter.</p>
            <p>5. You can check the replacement record by clicking on the "Replacement History" button.</p>

        </div>

        <div class="modal-footer">
            <button id="replaceCancel" class="cancel-btn">Cancel</button>
            <button id="replaceSubmit" class="next-btn">Submit</button>
        </div>

    </div>
</div>
<!-- ================= DELETE INVERTER MODAL ================= -->
<div id="deleteModal" class="modal-overlay" style="display:none;">
    <div class="modal-box">

        <div class="modal-header">
            <p>Note</p>
        </div>

        <div class="modal-body" style="text-align:center; color: #999999;">
            <p style="color:red; font-size:18px; font-weight:600; margin-bottom:10px;"> Delete the device ?</p>
            <p>This action will cause the device data to be deleted!</p>

            <div style="border:1px solid #ccc; padding:15px; border-radius:8px; margin-top:10px;  font-size:18px;">
                <p style="margin-left:-90px; margin-bottom:5px;">Device Type: Inverter</p>
                <p id="deleteName" style="margin-left:-20px; margin-bottom:5px;">Name: -</p>
                <p id="deleteSN" style="margin-left:60px;">SN: -</p>
            </div>
        </div>

        <div class="modal-footer">
            <button id="deleteCancel" class="cancel-btn">Cancel</button>
            <button id="deleteSubmit" class="next-btn">Submit</button>
        </div>

    </div>
</div>
