<div class="popup-content add-device-form-popup">

    <div class="popup-header">
        <h2>Select Devices</h2>
    </div>

<div class="form-wrapper">

    <div class="form-row">
        <label>* Name</label>
        <input type="text" placeholder="Please enter the device name">
    </div>

    <div class="form-row">
        <label>* SN</label>
        <input type="text" placeholder="Please enter the SN">
    </div>

    <div class="form-row">
        <label>* Checkcode</label>
        <input type="text" placeholder="Please enter the CheckCode">
    </div>

</div>


    <div class="btn-row">
        <button class="cancel close-btn">Cancel</button>
        <button class="submit">Submit</button>
    </div>

</div>
