<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Setting</title>
    <link rel="stylesheet" href="../../Styles/logo.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
   <div class="logo-setting-container">

  <div class="logo-card">

    <!-- Dashboard Logo -->
    <div class="logo-section">
      <div class="logo-label">Dashboard Logo Setting:</div>

      <div class="logo-row">
        <div class="logo-name">Lobby Dashboard logo</div>

        <div class="logo-upload">
          <div class="upload-box">
            <input type="file" accept="image/*" >
          </div>

          <div class="logo-hint error">
            Please upload a picture with a minimum size of 430×48
          </div>
        </div>
      </div>
    </div>

    <!-- System Logo -->
    <div class="logo-section">
      <div class="logo-label">System Logo Setting:</div>

      <div class="logo-row">
        <div class="logo-name">System logo</div>

        <div class="logo-upload">
          <div class="upload-box">
            <input type="file" accept="image/*" >
          </div>

          <div class="logo-hint error">
            Please upload a picture with a minimum size of 210×46
          </div>
        </div>
      </div>
    </div>

    <!-- Buttons -->
       <div class="action-buttons">
                <button class="btn-reset">Reset</button>
                <button class="btn-save">Save Changes</button>
            </div>


  </div>
</div>

</body>

</html>