<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Styles/myaccount.css">
</head>
<body>
    <div class="account-container">

        <div class="account-card">
<div class="account-row">
  <div class="account-label">Email</div>
  <div class="account-value">
    <input type="email" value="nithin@vertexgroup.in" disabled>
  </div>
  <div class="account-action">Change</div>
</div>

<div class="account-row">
  <div class="account-label">Password</div>
  <div class="account-value">
    <input type="password" value="**********" disabled>
  </div>
  <div class="account-action">Change</div>
</div>

<div class="account-row">
  <div class="account-label">Organization code</div>
  <div class="account-value">
    <input type="text" value="G10090022" disabled>
  </div>
  <div class="account-action"></div>
</div>

<div class="account-row">
  <div class="account-label">Secondary Account</div>
  <div class="account-value">
    <input type="text" placeholder="Add secondary account" disabled>
  </div>
  <div class="account-action">Add</div>
</div>


            <p class="account-note">
            After the primary and secondary accounts are bound the primary account will have all the
            permissions of the secondary account after the upgrade, you will be able to manage plant
            alarm information, receive alarm messages, etc.
            </p>

        </div>
    </div>
<script src="../../Scripts/myaccount.js"></script>

</body>
</html>
