* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.container {
    background: #f6f7f8;
    padding: 20px 25px;
    margin-left: 240px;
    width: 100%;
    margin-top: 40px;
}

.management-tabs {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    position: relative;
    margin-bottom: 7px;
}

.management-tabs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #B7D7C8; 
}

.management-tabs .tab-btn {
    background: none;
    border: none;
    padding: 9px 0;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    position: relative;
    display: inline-block; 
    width: auto;

    transition: color 0.3s ease;   /* smooth text color transition */
}

.management-tabs .tab-btn.active {
    color: #0A6F53;
}

.management-tabs .tab-btn.active::after {
    content: "";
    position: absolute;
    bottom: -4px;           
    width: 130%;             /* underline wider than text */
    left: 50%;              
    transform: translateX(-50%);         
    height: 6px;
    background: #0A6F53;
    border-radius: 20px;

}

.sub-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
