/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f6f7f8;
}



.content-area {
  margin-top: 64px;
  padding: 20px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.tabs {
  display: flex;
  gap: 200px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6e2d8;
}

.tab {
  cursor: pointer;
  padding-bottom: 10px;
}

.tab.active {
  border-bottom: 3px solid #2c8c70;
}
.tab:hover {
  
  border-bottom: 3px solid #2c8c70;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
  margin-top: 20px;
}

.left-panel {
  padding: 12px;
  width: 260px;

}

.search-left {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #fff;
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  margin-bottom: 16px; 
}
.org-card {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.1);
  height: 540px;
}

.org-item {
  font-size: 14px;
  padding: 8px 0;
}

.org-item.active {
  font-weight: 300;
}

.right-panel {
  flex: 1;
  padding: 25px;
  
}

.top-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 22px;
  background: linear-gradient(to right, #00a76f, #00a79d);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.delete {
  color: #2c8c70;
}

.form-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  max-width: 650px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  height: 530px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #2c8c70;
}

.code-row {
  display: flex;
  gap: 10px;
}

.change-btn {
  padding: 10px 20px;
  background: #97d6c9;
  border: none;
  border-radius: 8px;
  color: #fff;
}

.rep-row {
  display: flex;
  gap: 10px;
  align-items: center;
} */

/* <div class="content-area">
  
        <div class="container">

            <!-- LEFT PANEL -->
            <div class="left-panel">

                <input type="text" placeholder="Organization code" class="search-left">

                <div class="org-card">
                    <div class="org-item active">Vertex 02</div>
                </div>

            </div>

            <!-- RIGHT PANEL -->
            <div class="right-panel">

                <!-- ACTION BUTTONS -->
                <div class="top-actions">
                    <button class="btn search">Search</button>
                    <div><img style="margin-top: 25%;" src="cirplus.png" alt=""></div>
                    <div><img style="margin-top: 25%;" src="delete.png" alt=""></div>
                </div>

                <!-- WHITE CARD -->
                <div class="form-card">

                    <div class="form-group">
                        <label>Organization</label>
                        <input type="text" value="Vertex 02" placeholder="Organization Name">
                    </div>

                    <div class="form-group code-group">
                        <label>Organization code</label>
                        <div class="code-row">
                            <input type="text" value="G10090022" placeholder="Organization Code">
                            <button class="change-btn">Change</button>
                        </div>
                    </div>

                    <div class="form-group rep-group">
                        <label>Representative</label>
                        <div class="rep-row">
                            <input type="text" value="Nikhil" placeholder="First Name">
                            <span class="slash">/</span>
                            <input type="text" value="K S" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="nithin@vertexgroup.in" placeholder="Email">
                    </div>

                </div>
            </div>

        </div>



    </div> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  background: #f6f7f8;
}

.organization-area {
  padding: 8px;
  background: #f6f7f8;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  padding: 10px 14px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  width: 300px;
  background: #fafafa;
  color: #0F0E0E99;
}

.btn-search {
  padding: 10px 32px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  background: linear-gradient(to right, #00a76f, #00a79d);
  color: white;
  transition: transform 0.2s;
}

.btn-search:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(0, 167, 111, 0.3);
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-left: 5px;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.organization-content {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-left: 8px;
  height: 70vh;
}

.side {
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 300px;
  background: white;
  padding: 12px;

}

.organization-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #6F6E6E;
  cursor: pointer;
  font-size: 14px;

}

.organization-list span {
  padding: 1px 8px;
  background: #DEFCE6;
  color: #007867;
  border-radius: 13px;
  cursor: pointer;
}

.organization-list-item.add-mode {
  margin: 5px 10px;
  background: #e9f7f1;
  font-weight: 600;
  padding: 3px 13px;
  color: #0a8159;
  border-radius: 6px;
}

/* optional hover */
.organization-list-item.add-mode:hover {
  background: #dff2ea;
}


.form-card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 800px;
}

/* Two column layout */
.form-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: #0a0a0a;
  margin-bottom: 5px;
}

/* Inputs full width */
.form-group input {
  width: 60%;
  padding: 7px 10px;
  border: 1px solid #0A8159;
  border-radius: 8px;
  outline: none;
}

/* Inline input + button */
.inline-group {
  display: flex;
  align-items: center;
  width: 75%;
  gap: 15px;
}

.inline-group input {
  width: 60%;
}

.inline-group2 input {
  width: 29%;
}

.change-btn {
  padding: 9px 27px;
  background: #62c4a8;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 20px;
}

.btn-cancel {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1.5px solid #0a8159;
  background: #fff;
  color: #0a8159;
  font-weight: 500;
  cursor: pointer;
}

.btn-submit {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #0a8159;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.btn-submit:hover {
  background: #086e4d;
}

.btn-cancel:hover {
  background: #f3f6f4;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay.show {
  display: flex;
}

.modal-box {
  background: #fff;
  border-radius: 12px;
  text-align: center;
}

.modal-box .modal-header {
  background: #076243;
  padding: 6px 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-box span {
  color: white;
  width: 100%;

}
.modal-box p{
  padding: 10px;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-danger {
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 4px 20px;
  border-radius: 8px;
  cursor: pointer;
}






/* 
    <div class="form-group">
                        <label>Organization</label>
                        <input type="text" value="Vertex 02" placeholder="Organization Name">
                    </div>

                    <div class="form-group code-group">
                        <label>Organization code</label>
                        <div class="code-row">
                            <input type="text" value="G10090022" placeholder="Organization Code">
                            <button class="change-btn">Change</button>
                        </div>
                    </div>

                    <div class="form-group rep-group">
                        <label>Representative</label>
                        <div class="rep-row">
                            <input type="text" value="Nikhil" placeholder="First Name">
                            <span class="slash">/</span>
                            <input type="text" value="K S" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="nithin@vertexgroup.in" placeholder="Email">
                    </div> */