.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Modal Box */
.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

/* Header */
.modal-header {
    background: #0A8159;
    color: #fff;
    padding: 13px;
    text-align: center;
    font-size: 22px;
}

/* Device Grid */
.device-grid {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.device-card {
    padding: 15px;
    text-align: center;
    border: 2px solid #00B3A4;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.device-card.selected {
    opacity: 1;
    border-color: #0E9577;
}

.device-card:hover {
    opacity: 1;
}

.device-card p {
    margin-top: 10px;
    font-weight: 600;
    color: #0E9577;
}

/* Buttons */
.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.cancel-btn {
    padding: 5px 35px;
    border: 2px solid #0E9577;
    border-radius: 10px;
    font-size: 18px;
    background: transparent;
    color: #0E9577;
    cursor: pointer;
}

.next-btn {
    padding: 8px 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #0E9577, #0FB4A9);
}
